<div class="safety"> <br><br><br>
    <p id="safetyTitle" class="title">WE CARE ABOUT YOUR SAFETY</p>
    <p class="p1">
        <span id="safetyText1" class="b">Please call Security at </span> 
        <a href="tel:5148483717">514-848-3717</a>
        <span id="safetyText2" class="b"> or </span> 
        <a href="tel:5148483717">514-848-2424</a>
        <span id="safetyText3" class="b">, ext. 3717 before calling 911 ; These agents are trained to rapidly respond to your needs and provide critical services. They will connect you with 911, if needed, saving valuable time.</span>
    </p>
    <h3 id="safetyTitle2" class="title2">Emergency numbers:</h3>
    <p class="info">
        <span id="option1" style="font-weight: bold;">SafeWalk Program </span><br>
        <a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
        <span id="option2" style="font-weight: bold;">Assault, Sexual Violence & Harassment</span><br>
        <a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
        <span id="option3" style="font-weight: bold;">Injury</span><br>
        <a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
        <span id="option4" style="font-weight: bold;">Theft</span><br>
        <a href="tel:5148483717">514-848-3717</a>, option 2<br><br>
        <span id="option5" style="font-weight: bold;">Hazardous material spill/accident</span><br>
        <a href="tel:5148483717">514-848-3717</a>, option 1<br><br></p>
</div>