
<div class="safety">
	<br><br><br>
<p class="title">WE CARE ABOUT YOUR SAFETY</p>
  <p class="p1">Please call Security at 514-848-3717 or 514-848-2424, ext. 3717 before calling 911; The are trained agents to respond quickly and provide critical services. They'll connect with 911, if needed, saving valuable time.</p>
  
	  <h3 class="title2">Emergency numbers:</h3>
<p class="info">
<span style="font-weight: bold;">SafeWalk Program </span><br>
(514) 848-3717<br><br>
<span style="font-weight: bold;">Assault, Sexual Violence & Harassment</span><br>
(514) 848-3717<br><br>
<span style="font-weight: bold;">Injury</span><br>
(514) 848-3717<br><br>
<span style="font-weight: bold;">Theft</span><br>
(514) 848-3717<br><br>
<span style="font-weight: bold;">Hazardous material spill/accident</span><br>
(514) 848-3717<br><br></p>
</div>
