
<div class="safety">
	<br><br><br>
<p class="title">WE CARE ABOUT YOUR SAFETY</p>
  <p class="p1"><span class="b">Please call Security at </span>  <a href="tel:5148483717">514-848-3717</a><span class="b"> or </span> <a href="tel:5148483717">514-848-2424</a>, ext. 3717 <span class="b">before calling 911 </span>; The are trained agents to respond quickly and provide critical services. They'll connect with 911, if needed, saving valuable time.</p>
  
	  <h3 class="title2">Emergency numbers:</h3>
<p class="info">
<span style="font-weight: bold;">SafeWalk Program </span><br>
<a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
<span style="font-weight: bold;">Assault, Sexual Violence & Harassment</span><br>
<a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
<span style="font-weight: bold;">Injury</span><br>
<a href="tel:5148483717">514-848-3717</a>, option 1<br><br>
<span style="font-weight: bold;">Theft</span><br>
<a href="tel:5148483717">514-848-3717</a>, option 2<br><br>
<span style="font-weight: bold;">Hazardous material spill/accident</span><br>
<a href="tel:5148483717">514-848-3717</a>, option 1<br><br></p>
</div>
