.NestedList{
  padding-left: 70px;
  --border-color: #3880ff;
}
.Linescolor{
  --border-color: #3880ff;
}

.text{
  color:  #3880ff;
}

.settings {
  margin-top: 3.5rem;
}

.alignright {
  float: right;
}

