<div class="settings">
  <ul class="settings-list">
    <li class="title">
          <ion-icon name="arrow-back"></ion-icon>
          <ion-icon name="settings"></ion-icon>
          Settings</li>
    <hr>
    <li>Language</li>
    <hr>
    <li>
      <p class="alignleft">
      Preferences
      </p>
      <p class="alignright">
      </p>
      <div style="clear: both;"></div>
    </li>
    <hr>
    <ul class="subList1">
      <li class="exception">
        <p class="alignleft"> <ion-icon name="body"></ion-icon>
          Accessibility</p>
        <p class="alignright">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </p>
        <div style="clear: both;"></div>
      </li>
      <hr>
      <ul class="subList2">
        <li class="exception">
          <p class="alignleft">Elevators</p>

          <p class="alignright">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </p>

          <div style="clear: both;"></div>

        </li>
        <hr>
        <li class="exception">
          <p class="alignleft">Stairs</p>

          <p class="alignright">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </p>

          <div style="clear: both;"></div>

        </li>
        <hr>
        <li class="exception">
          <p class="alignleft">Escalators</p>

          <p class="alignright">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          </p>
          <div style="clear: both;"></div>

        </li>
      </ul>
    </ul>
    <hr>
    <li>
      <p class="alignleft">Google Calendar Sync</p>

      <p class="alignright">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </p>
      <div style="clear: both;"></div>

    </li>
    <hr>
    <li>Notifications</li>
  </ul>
  <hr>
</div>

