<!-- List of my events retrieved from my google calendar -->

<!--show user info-->
<div class="myEvents">
  <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/profile-icon.png">
        </ion-avatar>
        <!--TODO: add a variable for username and remove placeholder-->
        <ion-label>Email: username@gmail.com</ion-label>
      </ion-item>
  </ion-card>
  <hr>

<!--Today's Date-->
  <ion-card>
    <ion-card-header>
      <ion-label>Date: {{today | date: 'dd/MM/yyyy' }}</ion-label>
    </ion-card-header>
  </ion-card>

<!--Title for the list of events-->
    <ion-card>
      <ion-item>
        <ion-label>Upcoming classes/ Events:</ion-label>
      </ion-item>
    </ion-card>

<!--TODO: replace hard coded class info with variables -->
<!--Class info-->
  <ion-card>
    <ion-card-header>
        <ion-label>SOEN 345 - S</ion-label>
        <ion-label class="alignright">Tutorial</ion-label>
    </ion-card-header>

    <ion-card-content class="adjust">
      <ion-label>Room: JMSB - 2.225</ion-label>
      <ion-label class="alignright">Time: 14:45-16</ion-label>
    </ion-card-content>
  </ion-card>

</div>
