.alert {
    background-color: red;
    font-size: larger;
}

.title {
    color: red;
    text-align: center;
}

.info {
    text-align: justify;
    color: #195CB3;
    padding: 5%;
    font-weight: bold;
}