<div class="eventsOnCampus">
    <br><br><br>
    <h2 class="title">ALL EVENTS ARE CANCELLED !</h2>
    <button class="alert">
    <ion-icon name="alert-circle-outline"></ion-icon>
    COVID-19 alert! 
  </button>
    <p class="info">Please note that any access to the University will be forbidden up to May 4th.
        <br> <br>Until further notice, all events on Loyola and Sir George Campus has been canceled due to the actual situation that we are facing.
        <br><br>For more assistance and information about the actual situation, please visit <a class="link" href="http://www.concordia.ca/covid19info.html?utm_source=vanity&utm_campaign=covid19">Concordia's COVID-19 updates</a>.</p>
</div>