<div class="eventsOnCampus">
    <br><br><br>
    <h2 id="title">ALL EVENTS ARE CANCELLED !</h2>
    <button class="alert">
    <ion-icon name="alert-circle-outline"></ion-icon><span id="alertButton"> COVID-19 alert! </span>
  </button>
    <p id="info1">Please note that any access to the University will be forbidden up to May 4th. </p>
    <p id="info2">Until further notice, all events on Loyola and Sir George Campus has been canceled due to the actual situation that we are facing.</p>
    <p id="info3">For more assistance and information about the actual situation, please visit <a class="link" href="http://www.concordia.ca/covid19info.html?utm_source=vanity&utm_campaign=covid19"><span id="info4">Concordia's COVID-19 updates</span></a>.</p>
</div>