<form id="form" (ngSubmit)="getDirections()" [style.display]="'block'">
  <ion-header>
  <ion-toolbar class="toolbar">

      <ion-item  class="inputItem">
          <ion-input [(ngModel)]="directions.start" (ionChange) = "displayShuttle()" name='start' placeholder="Start"></ion-input>
      </ion-item>

      <ion-item  class="inputItem">
          <ion-input [(ngModel)]="directions.destination" (ionChange) = "displayShuttle()" name='destination' placeholder="Destination"></ion-input>
      </ion-item>
    </ion-toolbar> 

    <ion-segment  class="transportationMethod">
          <ion-segment-button  id="walking">
            <ion-icon name="walk" size="large"></ion-icon>
          </ion-segment-button>
          <ion-segment-button id="driving">
            <ion-icon name="car" size="large"></ion-icon>
          </ion-segment-button>
          <ion-segment-button id="transit">
              <ion-icon name="train" size="large"></ion-icon>
          </ion-segment-button>
          <ion-segment-button [style.display]="'none'" id="shuttle">
            <ion-icon name="bus" size="large"></ion-icon>
        </ion-segment-button>
        </ion-segment>

      <ion-button collapse="true"  type="submit" expand="full" (click)="getTransportation()">Get Directions</ion-button>
    </ion-header>
</form>

<!-- Div to display step by step direction in text for any given route -->
 <div id="directionsPanel" [style.display]="'none'"></div>

 <!-- Temporary: to display shuttle bus time -->

<ion-grid [style.display]="'none'" id="travelinfo">
  <ion-row>
    <ion-col>
      <ion-textarea auto-grow="true" [(ngModel)]="travelDistance" class="travel" readonly></ion-textarea>
    </ion-col>
    <ion-col>
      <ion-textarea auto-grow="true" [(ngModel)]="travelDuration" class="travel" readonly></ion-textarea>
    </ion-col>
    <ion-col>
      <ion-textarea [(ngModel)]="shuttleTimeValue" id="shuttletime" [style.display]="'none'" class="travel" readonly> </ion-textarea>
    </ion-col>
  </ion-row>
</ion-grid>
 