 .toolbar{
   margin-top: 57px;
 }

 .inputItem{
      --highlight-color-valid: #488aff;
 }

 .transportationMethod{
    min-height: 10px;
 }

 #directionsPanel{
    overflow: auto;
    height: 400px;
 }
