<!-- List of my events retrieved from my google calendar -->
<!--show user info-->
<div class="myEvents">
    <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/icon/profile-icon.png">
          </ion-avatar>
          <!--TODO: add a variable for username and remove placeholder-->
          <ion-label>Email: {{ email }}</ion-label>
        </ion-item>
    </ion-card>
    <hr>
  
  <!--Today's Date-->
    <ion-card>
      <ion-card-header>
        <ion-label>Date: {{today | date: 'dd/MM/yyyy' }}</ion-label>
      </ion-card-header>
    </ion-card>
  
  <!--Title for the list of events-->
      <ion-card>
        <ion-item>
          <ion-label>Upcoming classes/ Events:</ion-label>
        </ion-item>
      </ion-card>
  
  <!--TODO: replace hard coded class info with variables -->
  <!--Class info-->
  <div class="event" *ngFor="let event of events;" (click)="goToEventLocation(event.location)">
    <ion-card>
        <ion-card-header>
            <ion-label>{{ event.summary }}</ion-label>
            <ion-label class="alignright">Start: {{ event.start.dateTime }} {{ event.start.date }}</ion-label>
        </ion-card-header>
    
        <ion-card-content class="adjust">
          <ion-label>{{ event.location }}</ion-label>
          <ion-label class="alignright">End: {{ event.end.dateTime }} {{ event.end.date }}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>

  
  </div>