.myEvents{
    margin-top: 4rem;
  }
  hr{
    height: 3px;
    background-color: #3a8cf0;
  }
  ion-card-header{
    background-color: #3a8cf0;
   color: white;
  }
  .alignright {
    float: right;
  }
  .adjust{
    margin-top: 10px;
  }
  ion-card:nth-child(2){
    background-color: #3a8cf0;
    color: white;
    
  }
  .event{
    cursor: pointer;
  }

ion-content {
  height: 250%;
}