.outdoorPOI {
    min-height: 100%;
  }
  
  .title {
      text-align:center;
      padding:3%;
      color:#074AA2;
      font-weight: bold;
      border-style: solid;
      font-size: larger;
    }
  
  .card
  {
    color:#195CB3;
    font-weight: bold;
    text-align: center;    
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
  }

  .openButton
  {
    text-align: center;
  }

  .card_content
  {
    color: black;
  }
