<div class="outdoorPOI"> <br><br><br>
  <p class="title">Nearby Points of Interest</p>
  <h3 class="title2">Sir George Williams Campus</h3>
  <p class="info">
      <span style="font-weight: bold;">Ramen Misoya</span><br>
      <ion-text>2065A Bishop St, Montreal, QC H3G 2E8</ion-text><br><br>
      <ion-text>Compact outpost of a Japanese noodle chain serving a range of ramen served in a miso-based broth.</ion-text><br><br>
      <ion-button  (click)="LoadNewPage('/NewRoute', '204 ontario est')">Open</ion-button><br><br>
      
      <span style="font-weight: bold;">Hero Certified Burgers</span><br>
      <ion-text>2019 Rue Bishop, Montréal, QC H3G 2E8</ion-text><br><br>
      <ion-text>Hamburger restaurant</ion-text><br><br>
      <ion-button>Open</ion-button><br><br>
</p>
</div>