.toolbar {
    position: absolute;
    top: 3.5rem;
    text-align: center;
}

.toggle {
    text-align: center;
}

.label {
    position: relative;
    bottom: 2vh;
    text-align: center;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
ion-slide {
    height: calc(100vh - 140px);
}  
