


<!-- Construct he home page with the basic building blocks

 - menu
 - map

-->     

        <app-home-search class="search" color="primary" (searchIndoorPOIEvent)="map.goToIndoorPOI($event)" ></app-home-search>
        <app-toggle (toggleevent)=map.focusMap($event)></app-toggle>
        <app-map class="map" #map></app-map>
        <app-locate-me (locateevent)="map.getCurrentLocation()"></app-locate-me>
        <app-go-button></app-go-button>

    
<!-- inject other component like the one above to construct your view 

You should be using div elements to structure the overall page, when injecting other components 
-->
