<head></head>
<body>
<ion-content> 
  <div padding>
  
  <table *ngIf="arro">
      <!-- ADD HEADERS -->
      <tr> Monday-Thursday</tr>
      <tr>
          <th>Departures from Loyola</th>
              <th>Departures from S.G.W</th>
                  
      </tr>

      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let bus of arro">
          <td>{{bus.DepartLoyolaMO}}</td>
              <td>{{bus.DepartSMO}}</td>            
      </tr> 
      <tr>From/De 11:30 to/à 20:00
        A bus leaves each campus every 30 – 35 minutes.
        Départ de la navette aux 30 – 35 minutes.</tr>
      
      <tr *ngFor="let bus of arrt">
        <td>{{bus.DepartLoyolaMT}}</td>
            <td>{{bus.DepartSMT}}</td> 
            <tr>*Last departure</tr> 
    
  </table>
  </div>
  <div padding> 
    <table  *ngIf="arrth">
        <!-- ADD HEADERS -->
        <tr>Friday</tr>
        <tr>
            <th>Departures from Loyola</th>
                <th>Departures from S.G.W</th>
                  
        </tr>
        <tr *ngFor="let bus of arrth">
          <td>{{bus.DepartLoyolaF}}</td>
              <td>{{bus.DepartSF}}</td>
                         
      </tr> 
      <tr>*Last departure</tr> 
        </table>
        </div>
      </ion-content>
    </body>