.departure {
    color: black;
    text-align: center;
    font-weight: bold;
}

.monday {
    color: rgb(109, 109, 233);
    padding-top: 0.25cm;
}

.friday {
    color: rgb(109, 109, 233);
    padding-top: 0.5cm;
}