<form (ngSubmit)="getDirections()">
    <ion-toolbar class="toolbar" style="margin-top: 60px;">
        <ion-item>
        <ion-input [(ngModel)]="directions.start" name='start' placeholder="Start"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input [(ngModel)]="directions.destination" name='destination' placeholder="Destination"></ion-input>
        </ion-item>
        <ion-button  type="submit" block>Get Directions</ion-button>
    </ion-toolbar> 
</form>


<app-map id="map" class="map" #map></app-map>