
<ion-tabs>
  <ion-tab-bar slot="settings">
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shuttleBus">
      <ion-icon name="bus"></ion-icon>
      <ion-label> Shuttle</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="locateMe">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Locate Me</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="NearByResto">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Nearby</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="StarredLocations">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
