/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 .map {
   height: 100%;
  width: 100%;

}

.map-content {
  position: absolute;
  top: 7rem;
  left: 0;
  height: 86vh;
  width: 100%;


}

