/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 .map {
  height: 100%;
  width: 100%;

}

.map-content {
  position: absolute;
  top: 5rem;
  bottom: 10rem;
  left: 0;
  height: 80%;
  width: 100%;

}

