/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 .map {
   height: 89%;
  width: 100%;
   z-index: 1;

}

.map-content {
  position: absolute;
  top: 7rem;
  left: 0;
  height: 86vh;
  width: 100%;
}
//hide the fullscreen button by google maps
.gm-fullscreen-control {
  display: none !important;
}
//hide the map/satellite button along with +/- buttons
.gmnoprint {
  display: none  !important;
}
.gm-style-mtc {
  display: none;
}

.map[_ngcontent-tav-c4] {
  height: 89%;
}

@media only screen and (max-width: 600px) {
  .map {
    height: 86%;
  }
}
