

<ion-list id="history">
  <ng-container *ngFor="let item of historyDates">
    <ion-item>
      <ion-label class="dates" [innerHTML] = "item">
      </ion-label>
    </ion-item> 
    <ng-container *ngFor="let value of historyDisplay[item]">
      <ion-item>
        <ion-label class="locations" [innerHTML] = "value">
        </ion-label>
      </ion-item> 
    </ng-container>
  </ng-container>
</ion-list>

<ion-button id="clearHistoryBtn" expand="full" color="danger" (click)="clearHistory()">{{clearBtn}}</ion-button>