<ion-split-pane>

  <ion-menu contenId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-title>Menu</ion-title>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-header>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>