<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button (click)="languageSet()"></ion-menu-button>
        </ion-buttons>
        <ion-title>ConcordiaGo</ion-title>

    </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" class="my-custom-menu">
    <ion-header>
        <ion-toolbar>
            <ion-title color="primary" id="title"></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item button (click)="LoadNewPage('/Home')">
                <ion-icon name="home" class="item-spacing"></ion-icon> <span id="home"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/NewRoute')">
                <ion-icon name="map" class="item-spacing"></ion-icon> <span id="newroute"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/Favorites')">
                <ion-icon name="star" class="item-spacing"></ion-icon> <span id="favorites"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/ShuttleBusSchedule')">
                <ion-icon name="bus" class="item-spacing"></ion-icon> <span id="shuttlebus"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/Schedule')">
                <ion-icon name="calendar" class="item-spacing"></ion-icon> <span id="schedule"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/NearbyPointsOfInterest')">
                <ion-icon name="business" class="item-spacing"></ion-icon> <span id="nearbyPOI"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/Settings')">
                <ion-icon name="settings" class="item-spacing"></ion-icon> <span id="settings"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/Safety')">
                <ion-icon name="medical" class="item-spacing"></ion-icon> <span id="safety"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/ReportIssue')">
                <ion-icon name="warning" class="item-spacing"></ion-icon> <span id="report"></span> </ion-item>
            <ion-item button (click)="LoadNewPage('/AboutUs')">
                <ion-icon name="information-circle" class="item-spacing"></ion-icon> <span id="aboutus"></span> </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-router-outlet main></ion-router-outlet>